<div id="page-wrapper">
    <div id="search-container">
      <input type="text"
              placeholder="Search..."
              matInput
              [formControl]="searchInput"
              [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayAutocompleteResult">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (click)="loadLocation()">
          {{option.LocalizedName}}, {{ option.Country.LocalizedName }}
        </mat-option>
      </mat-autocomplete>
    </div>

    <div id="result-container">
      <div id="location-description">
        <div id="title">
          <p>{{ location.LocalizedName }}, {{ location.Country.LocalizedName }}</p>
          <mat-icon svgIcon="FAVORITE" *ngIf="isFavorite" (click)="removeFromFavorites()"></mat-icon>
          <mat-icon svgIcon="EMPTY_FAVORITE" *ngIf="!isFavorite" (click)="addToFavorites()"></mat-icon>
        </div>
      </div>
      <app-forecast-list [forecastList]="dailyForecasts"></app-forecast-list>
    </div>
</div>