#page-wrapper {
    width: 100%;
    height: 100%;

    #search-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 20px;

        input {
            margin: 15px;
            width: 400px;
            height: 30px;
            border-radius: 4px;
            font-size: 17px;
            border: 1px solid #C1CFC0;
            outline: none;
            margin: 20px;
        }
    }

    #result-container {
        width: 100%;

        #location-description {

            #title {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 15px;

                p {
                    font-size: 25px;
                    margin: 20px 5px 20px 20px;
                    font-weight: bold;
                }
            }
        }
    }
}