<div id="forecast-container">
    <p id="date">{{ forecast.Date | date:'EEEE, MMMM d, y' }}</p>

    <div id="degrees-container">
        <div class="degrees">
            <p>{{ forecast.Temperature.Minimum.Value }}</p>
            <mat-icon svgIcon="CIRCLE"></mat-icon>
        </div>
        <p>-</p>
        <div class="degrees">
            <p>{{ forecast.Temperature.Maximum.Value }}</p>
            <mat-icon svgIcon="CIRCLE"></mat-icon>
        </div>
    </div>

    <hr>
    
    <div class="weather-description">
        <p class="title">Day</p>
        <p>{{ forecast.Day.IconPhrase }}</p>
    </div>
    <div class="weather-description">
        <p class="title">Night</p>
        <p>{{ forecast.Night.IconPhrase }}</p>
    </div>
</div>