#forecast-container {
    padding: 20px;
    width: 210px;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 10px;
    background-color: #aac9b948;
    margin: 15px;

    &:hover {
        border-color: rgb(196, 196, 196);
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        transform: rotate(2deg);
        background-color: #aac9b973;
    }

    #date {
        font-weight: 550;
        margin-bottom: 20px;
    }

    #degrees-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
        p {
            font-size: 50px;
            font-weight: lighter;
        }

        .degrees {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            margin: 5px;

            p {
                font-size: 50px;
                font-weight: lighter;
            }

            mat-icon {
                width: 15px;
                height: 15px;
                margin-top: -15px;
            }
        }
    }

    .weather-description {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        
        p {
            margin: 0;
        }

        .title {
            font-weight: bold;
        }
    }
}