<div id="wrapper">
    <div *ngFor="let favoriteWithWeather of favoritesWithWeather">
        <app-current-weather-list-item [favorite]="favoriteWithWeather"></app-current-weather-list-item>
    </div>
</div>