#wrapper {
    padding: 20px;
    width: 170px;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 10px;
    background-color: #aac9b948;
    margin: 20px;
    min-height: 150px;

    &:hover {
        border-color: rgb(196, 196, 196);
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        transform: rotate(2deg);
        background-color: #aac9b973;
    }

    p {
        margin: 0px;
    }

    #title {
        font-size: 17px;
        font-weight: bold;
        margin-bottom: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;

        p {
            margin-right: 5px;
        }
    }

    #weather-text {
        margin-bottom: 15px;
    }

    #degrees {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        margin: 5px;
        text-align: center;
        width: 100%;

        p {
            font-size: 50px;
            font-weight: lighter;
        }

        mat-icon {
            width: 15px;
            height: 15px;
            margin-top: -15px;
        }
    }
}