<div id="wrapper" routerLink="/search/{{ favorite.location.Key }}">
    <div id="title">
        <p>{{ favorite.location.LocalizedName }}, {{ favorite.location.Country.LocalizedName }}</p>
        <mat-icon svgIcon="FAVORITE" *ngIf="isFavorite" (click)="removeFromFavorites()"></mat-icon>
        <mat-icon svgIcon="EMPTY_FAVORITE" *ngIf="!isFavorite" (click)="addToFavorites()"></mat-icon>
      </div>
    <p>{{ favorite.location.Key }}</p>
    <hr>
    <p id="weather-text">{{ favorite.currentWeather.WeatherText }}</p>
    <div id="degrees">
        <p>{{ temperatureValue }}</p>
        <mat-icon svgIcon="CIRCLE"></mat-icon>
    </div>
</div>